<div class="flex justify-center">
    {{ form_start(form,{'attr':{'class': 'flex flex-col w-1/2 content-center gap-6 pb-10'}})}}{{ form_widget(form.nom,{'attr':{'class': 'py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent'}})}}
    {{ form_widget(form.prenom,{'attr':{'class': 'py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent'}})}} {{ form_widget(form.email,{'attr':{'class': 'py-2 px-3 rounded-lg
    border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent'}}) }} {{ form_widget(form.plainPassword,{'attr':{'class': 'py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2
    focus:ring-purple-600 focus:border-transparent'}}) }}
    <div class="flex flex-col items-center gap-2">
        {{form_label(form.roles)}} {{form_widget(form.roles,{'attr':{'class':'flex gap-3 items-center'}})}}

    </div>

    <div class="flex justify-center items-center gap-3 ">
        <button class="self-center w-1/3 bg-purple-500 hover:bg-purple-700 text-white py-1 mt-5 rounded">{{ button_label|default('Save') }}</button> {{ form_end(form) }}
    </div>
</div>