{% extends 'base.html.twig' %} {% block title %}User index{% endblock %} {% block body %}
<h1 class="text-4xl pl-6 my-4 ">Liste des utilisateurs</h1>
<hr class="mb-10 ">
<div class="flex items-center justify-center ">
    <table class="table bspacing w-full text-gray-400  border-separate px-10 text-sm pb-8 ">
        <thead class="bg-purple-100  text-purple-700  px-10">
            <tr class="rounded-sm">
                <th class="p-3 border-purple-800 border-l-2 border-t-2 border-b-2 rounded-l-xl">Id</th>
                <th class="p-3 border-purple-800 border-t-2 border-b-2">Email</th>
                <th class="p-3 border-purple-800 border-t-2 border-b-2">Roles</th>
                <th class="p-3 border-purple-800 border-t-2 border-b-2">Nom</th>
                <th class="p-3 border-purple-800 border-t-2 border-b-2">Prenom</th>
                <th class="p-3 border-purple-800 border-t-2 border-b-2">Actions</th>
                <th class="p-3 border-purple-800 border-r-2 border-t-2 border-b-2 rounded-r-xl">delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="bg-purple-100 border-2 border-purple-700 rounded-sm">
                <td class="p-3 text-center border-purple-800 border-l-2 border-t-2 border-b-2 rounded-l-xl">
                    <div class="p-3 text-purple-700 text-center">{{ user.id }} </div>
                </td>
                <td class="p-3 text-purple-700 text-center border-purple-800 border-t-2 border-b-2 ">{{ user.email }}
                </td>
                <td class="p-3 text-purple-700 text-center border-purple-800 border-t-2 border-b-2 ">{{ user.roles|join(', ')|lower|replace({'role_': ""})}}
                </td>
                <td class="p-3 text-purple-700 text-center border-purple-800 border-t-2 border-b-2 ">{{ user.nom }}</td>
                <td class="p-3 text-purple-700 text-center border-purple-800 border-t-2 border-b-2 ">{{ user.prenom }}
                </td>
                <td class="p-3 text-purple-700 text-center border-purple-800 border-t-2 border-b-2 ">
                    <a href="{{ path('user_show', {'id': user.id}) }}">
                        <button class=" w-full self-center bg-purple-500 hover:bg-purple-700 text-white py-1 my-2 rounded ">Voir
                            <i class="fa fa-eye " aria-hidden="true "></i> </button></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><button
                            class="w-full self-center bg-purple-500 hover:bg-purple-700 text-white py-1 my-2 rounded ">edit
                            <i class="fas fa-edit"></i></button></a>
                </td>
                <td class="p-3 text-center border-purple-800 border-r-2 border-t-2 border-b-2 rounded-r-xl ">
                    {{ include('admin/user/_delete_form.html.twig') }}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="flex justify-center">
    <a href="{{ path('user_new') }}"><button
            class=" self-center bg-purple-500 hover:bg-purple-700 text-white my-3 p-1 rounded ">Nouvel
            utilisateur <i class="fas fa-plus"></i></button></a>
</div>

<a href="{{ path('admin') }}" class=" font-semibold text-indigo-600 align-middle text-sm ml-5 "><i
        class="fa fa-arrow-left pb-10 " aria-hidden="true"></i> retour a l'acceuil</a> {% endblock %}