{% extends 'base.html.twig' %} {% block title %}Article{% endblock %} {% block body %}

<article class="flex flex-col items-center lg:items-start lg:flex-row gap-5 m-7 ">
    <div class=" flex-shrink-0 p-2 w-72">
        <div id="img-container">
            <img class=" border-2 flex-shrink-0" src="{{asset( 'img/article/') ~ article.img}} " alt="image article">
        </div>
    </div>
    <div class="flex flex-col flex-wrap lg:border-l-2 lg:pl-4 gap-5 ">
        <div>
            <h2 class="text-2xl pl-3 my-4 ">{{ article.nom }} </h2>
            <hr class="mb-2 ">
        </div>
        <div class="flex flex-col border-2 p-3 ">
            <h2 class="font-medium pb-2 mb-2 border-b-2 ">Libelle</h2>
            {{ article.libelle }}
        </div>

        <div class="flex flex-col border-2 p-3 ">
            <h2 class="font-medium pb-2 mb-2 border-b-2 ">Effet</h2>
            <div class="flex-wrap">{{ detail.desc }}</div>
        </div>
        <div class="flex flex-col border-2 p-3 ">
            <h2 class="font-medium pb-2 mb-2 border-b-2 ">Prix</h2>
            <div class="text-red-600">{{ article.prix }}€ unité</div>
        </div>

        <div class="flex flex-col border-2 p-3 ">
            <h2 class="font-medium pb-2 mb-2 border-b-2 ">details</h2>
            <div class="flex flex-col lg:flex-row flex-wrap">
                <div class="lg:w-1/2 flex flex-col border-2 p-2">
                    <h3 class="font-medium">Type de carte </h3>
                    <div>{{ detail.type }}</div>
                </div>
                <div class="lg:w-1/2 flex flex-col border-2 p-2">
                    <h3 class="font-medium">Type</h3>
                    <div>{{ detail.race }}</div>
                </div>
                <div class="lg:w-1/2 flex flex-col border-2 p-2">
                    <h3 class="font-medium">Attribut</h3>
                    <div>{{ detail.attribute }}</div>
                </div>
                <div class="lg:w-1/2 flex flex-col border-2 p-2">
                    <h3 class="font-medium">Archétype</h3>
                    <div>{{ detail.archetype }}</div>
                </div>
                <div class="lg:w-1/2 flex flex-col border-2 p-2">
                    <h3 class="font-medium">Attaque/Défense</h3>
                    <div>{{ detail.atk }} / {{ detail.def}}</div>
                </div>
                <form class="lg:w-1/2 flex flex-col border-2 p-2" action="{{path('panier_add')}}" method="post">
                    <h3 class="font-medium">stock</h3>
                    <div class="flex flex-col lg:items-center lg:flex-row lg:gap-2">
                        <input type="hidden" name="id" value="{{article.id}}">
                        <select class="lg:w-2/5 h-6" name="quantity">
                        {% for i in 1.. article.stock %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                        <button class="lg:w-2/5 lg:self-center bg-purple-500 hover:bg-purple-700 text-white py-0.5 mt-2 lg:mt-0 rounded">
                        ajouter au panier
                    </button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</article>
{% block javascripts %}
<script src="{{asset('js/zoom.js')}}"></script>
<script src="{{asset('js/article.js')}}"></script>

{% endblock %}
<a href="{{ path('categorie_content', {'id': article.categorie.id}) }}" class=" font-semibold text-indigo-600 align-middle text-sm ml-5 "><i class="fa fa-arrow-left ml-10 my-20 p-2"
        aria-hidden="true"></i> retour a la liste</a> {% endblock %}