{% extends 'base.html.twig' %} {% block title %}user{% endblock %} {% block body %}
<div class="h-">
    <h2 class="text-6xl lg:text-4xl pl-6 my-4 ">Mon Compte </h2>
    <hr class="mb-10 ">
    <h2 class="text-4xl lg:text-2xl  pl-6 my-4">Bienvenue {{app.user.nom}} {{app.user.prenom}}</h2>

    <div class="flex flex-col lg:flex-row gap-9 lg:gap-4 justify-center flex-wrap pb-7">
        <a class="lg:w-2/5 hover:bg-purple-200 hover:border-purple-300 flex flex-row justify-around lg:justify-center items-center gap-4 border-2 p-8 lg:p-2 text-3xl lg:text-base shadow" href="{{path('app_logout')}}">
            <div class="w-1/4">Se deconnecter</div> <i class="fa fa-sign-out ml-2 lg:text-2xl" aria-hidden="true"></i></a>
        <a class="lg:w-2/5 hover:bg-purple-200 hover:border-purple-300 flex flex-row justify-around lg:justify-center items-center gap-4 border-2 p-8 lg:p-2 text-3xl lg:text-base shadow" href="{{path('currentuser_commande')}}">
            <div class="w-1/4">Mes commandes</div> <i class="fas fa-box ml-2 lg:text-2xl"></i></a>
        <a class="lg:w-2/5 hover:bg-purple-200 hover:border-purple-300 flex flex-row justify-around lg:justify-center items-center gap-4 border-2 p-8 lg:p-2 text-3xl lg:text-base shadow" href="{{path('currentuser_info')}}">
            <div class="w-1/4">Mes informations</div> <i class="fas fa-user ml-2 lg:text-2xl"></i></a>
        <a class="lg:w-2/5 hover:bg-purple-200 hover:border-purple-300 flex flex-row justify-around lg:justify-center items-center gap-4 border-2 p-8 lg:p-2 text-3xl lg:text-base shadow" href="{{path('currentuser_adresses')}}">
            <div class="w-1/4">Mes adresses</div> <i class="fas fa-address-book ml-2 lg:text-2xl"></i></a>
    </div>
</div>


{% endblock %}