{% extends 'base.html.twig' %} {% block title %}Mes Informations{% endblock %} {% block body %}
<div class="">
    <h2 class="text-4xl pl-6 my-4 ">Mes Informations </h2>
    <hr class="mb-10 ">
    <h2 class="text-2xl pl-6 my-4">Informations de {{app.user.nom}} {{app.user.prenom}}</h2>

    <div class="flex flex-col flex-wrap md:border-l-2 md:pl-4 gap-5 pb-7 ">

        <div class="flex flex-col border-2 p-3 ">
            <h2 class="font-medium pb-2 mb-2 border-b-2 ">Nom</h2>
            {{ user.nom }}
        </div>

        <div class="flex flex-col border-2 p-3 ">
            <h2 class="font-medium pb-2 mb-2 border-b-2 ">prenom</h2>
            <div class="flex-wrap">{{ user.prenom }}</div>
        </div>
        <div class="flex flex-col border-2 p-3 ">
            <h2 class="font-medium pb-2 mb-2 border-b-2 ">adresse email</h2>
            <div class="flex-wrap">{{ user.email }} </div>
        </div>
        <form action="" method="post">
             <input type='hidden' value='0' name='toggle'>
            <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                <input type="checkbox" name="toggle-night" id="toggle" class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer" {% if app.request.cookies.get('lightmode') == "on" %} checked {% endif %}  onchange="this.form.submit()"/>
                <label for="toggle-night" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
            </div>
            <label for="toggle-night" class="text-xs text-gray-700">light mode</label>
        </form>
        <a class="self-center" href="{{path('currentuser_edit')}}"> <button class="self-center w-48 bg-purple-500 hover:bg-purple-700 text-white py-1 mt-5 rounded"><i class="fas fa-edit"></i> modifier</button></a>
    </div>
    <a href="{{ path('currentuser_index') }}" class=" font-semibold text-indigo-600 align-middle text-sm ml-5 "><i class="fa fa-arrow-left pb-10 " aria-hidden="true"></i> retour</a> {% endblock %}